* {
  box-sizing: border-box;
}



body {
  margin: 0;
}
header {
  background-color: white;
  font-size: 16px;
  padding: 20px;
}
.left {
  background-color: #FFAA2B;
  width: 50%;
  height: 500px;
  float: left;
  text-align: center;
  padding-top: 25%;
}
.right {
background: url("https://images.unsplash.com/photo-1426287658398-5a912ce1ed0a?dpr=1&auto=compress,format&fit=crop&w=1199&h=797&q=80&cs=tinysrgb&crop=") no-repeat center center;
  width: 50%;
  height: 500px;
  float: right;
  background-size: cover;

}
button {
  padding: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;

}
